@tailwind base;
@tailwind components;
@tailwind utilities;

/* Styling Ideas
- white/light gray
- black/dark gray
- fun animation when you hit a square */

:root {
  --window-bg: hsl(47, 19%, 85%);
}

@font-face {
  font-family: "Space Mono";
  src: url("./fonts/SpaceMono-Regular.ttf");
}

html, body {
  font-family: "Space Mono";
  background-color: var(--window-bg);
  color: hsl(64, 27%, 10%);
  font-size: 14px;
  max-height: 100vh;
}

a {
  color: #FFF;
  padding: 0 0.1rem;
  text-underline-offset: 2px;
  transition: 300ms ease-out;
}
a:hover, a:focus {
  background-color: hsla(140, 100%, 60%, 10%);
  color: hsl(140, 100%, 50%);
  text-underline-offset: 2px;
  padding-left: 1rem;
  position: relative;
}

a:focus::before, a:hover::before {
  content: '>';
  position: absolute;
  left: 0;
  top: 0;
}

.btn-close {
  border: none;
  margin: 1rem 0 0;
  padding: 0.5rem 1rem;
  width: auto;
  overflow: visible;
  background: hsl(240, 2%, 10%);
  cursor: pointer;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
  transition: all 300ms ease-out;
}
.btn-close:hover {
  background: hsla(140, 100%, 60%, 10%);
}
.key-helper {
  background: hsl(47, 19%, 75%);
  color: hsl(47, 19%, 20%);
  display: inline-block;
  font-size: 0.8rem;
  letter-spacing: 2px;
  margin: 0 0 0 0.25rem;
  padding: 0rem 0.25rem;
  text-transform: uppercase;
}

#snake-window {
  background-color: var(--window-bg);
  /* border: 1px solid hsl(65, 10%, 8%); */
  border-radius: 4px;
  box-sizing: border-box;
  margin: 10vh auto;
  padding: 0;
  width: 90vw;
  height: 80vh;
  position: relative;
  overflow: hidden;
} 

#dot-grid {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
}
.dot-row {
  position: absolute;
}
.grid-dot {
  background-color: hsl(65, 10%, 80%);
  border: 2px solid var(--window-bg);
  border-radius: 50%;
  position: absolute;
  box-sizing: border-box;
}

.segment {
  /* position: absolute;
  min-width: 10px;
  min-height: 10px; */
  background: hsl(65, 10%, 30%);
  /* border: 2px solid var(--window-bg);
  box-sizing: border-box;
  border-radius: 50%; */
  /* box-shadow: 0px 0px 4px hsla(140, 100%, 60%, 20%); */
}

.info-box {
  /* position: absolute; */
  background: hsl(140, 100%, 36%);
  /* border-radius: 50%;
  border: 2px solid var(--window-bg);
  box-sizing: border-box; */
  cursor: pointer;
  /* min-width: 10px;
  min-height: 10px; */
  /* box-shadow: 1px 1px 0px hsl(140, 77%, 56%); */
  /* animation-duration: 3s;
  animation-name: infoBox;
  animation-iteration-count: infinite; */
  transition: 1s ease-out;
}
.info-box:hover {
  background: hsla(141, 100%, 15%);
}

.info-modal {
  background: hsl(65, 10%, 95%);
  box-shadow: 8px 8px 0px hsl(140, 77%, 56%);
  position: absolute;
  border: 1px solid hsl(240, 2%, 4%);
  border-radius: 2px;
  width: 300px;
  max-width: 95%;
  padding: 0.75rem 2rem 1.25rem;
  display: block;
  box-sizing: border-box;
  left: 50%;
  top: 50%;
  opacity: 1;
  transform: translateX(-50%) translateY(-50%);
  transition: ease-out;
  transition-duration: 500ms;
  z-index: 99;
}
#info-modal-title {
  color: hsl(240, 2%, 4%);
  font-weight: 600;
  font-family: sans-serif;
  font-size: 1.5rem;
}
ul.info-list {
  list-style: none;
  padding: 0;
}
ul.info-list li {
  margin: 0.75rem 0;
}
ul.info-list li p {
  font-size: 0.85rem;
  opacity: 0.75;
  margin: 0;
}

.modal-dim {
  position: fixed;
  background: hsla(47, 19%, 85%, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 1;
  transition: ease-out;
  transition-duration: 500ms;
  z-index: -1;
  backdrop-filter: blur(2px);
}
.modal-dim p {
  display: inline-block;
  left: 50%;
  top: 50%;
  opacity: 0.75;
  position: absolute;
  text-align: center;
  transform: translateX(-50%) translateY(-50%);
}

.hidden {
  opacity: 0;
}
/* #social:before{
  content: '@';
  position: absolute;
  font-family: sans-serif;
  color: hsl(140, 30%, 50%);
  font-size: 1.5rem;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
} */


@keyframes infoBox {
  0% {
    opacity: 0.3;
    transform: scale(0.95);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
  100% {
    opacity: 0.3;
    transform: scale(0.95);
  }
}

@media only screen and (max-width: 700px) {
  #snake-window {
    margin: 10px auto;
    padding: 0;
    width: calc(100vw - 20px);
    height: calc(100vh - 20px);
  }
}