@tailwind base;
@tailwind components;
@tailwind utilities;

/* Styling Ideas
- white/light gray
- black/dark gray
- fun animation when you hit a square */

:root {
  --window-bg: hsl(22, 0%, 96%);
  --light: hsl(22, 0%, 90%);
  --mid: hsl(22, 0%, 50%);
  --dark: hsl(22, 0%, 0%);
  --color: hsl(22, 100%, 52%);
}

@font-face {
  font-family: "Space Mono";
  src: url("./fonts/SpaceMono-Regular.ttf");
}

*{
  font-family: "Space Mono";
}

html, body {
  font-family: "Space Mono";
  background-color: var(--window-bg);
  color: var(--dark);
  font-size: 14px;
  max-height: 100vh;
}

a {
  color: var(--dark);
  padding: 0 0.1rem;
  text-decoration: underline;
  text-underline-offset: 1px;
  transition: 300ms ease-out;
}
a:hover, a:focus {
  color: var(--color);
  text-decoration: underline;
  text-underline-offset: 2px;
}

/* a:focus::before, a:hover::before {
  content: '>';
  position: absolute;
  left: 0;
  top: 0;
} */

.key-helper {
  background: hsla(22, 0%, 0%, 0.1);
  border-radius: 0.35em;
  display: inline-block;
  font-size: 0.95rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 0 0 0 0.25rem;
  padding: 0.25em 0.65em;
}

/* basic reset of button styles */
button {
  border: none;
  border-radius: 0.45em;
  margin: 0;
  padding: 0.5rem 1rem;
  cursor: pointer;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
}
button:disabled {
  cursor: not-allowed;
}

.btn-primary {
  background: var(--dark);
  color: var(--light);
  font-size: 1.1rem;
  padding: 0.75rem 1.5rem;
}
.btn-primary .key-helper, .btn-close .key-helper {
  background: hsla(22, 0%, 100%, 0.2)
}

.btn-info {
  padding: 0.5rem 1.25rem;
  position: relative;
}
.btn-info.highlight::before {
  content: '';
  position: absolute;
  border-radius: 50%;
  left: 2px;
  top: 50%;
  transform: translateY(-50%);
  width: 7px;
  height: 7px;
  background: var(--color);
  animation-name: blink;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.btn-close {
  border: none;
  margin: 1rem 0 0;
  padding: 0.5rem 1rem;
  width: auto;
  overflow: visible;
  background: var(--dark);
  cursor: pointer;
  color: var(--light);
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
  transition: all 300ms ease-out;
}
.btn-close:hover {
  background: hsl(22, 0%, 20%);
}

.text-colored {
  color: var(--color);
}
.top-row {
  padding: 1.5rem 5vw;
  /* margin: 1.5rem 0 0; */
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}
.site-name {
  color: var(--dark);
  display: inline-flex;
  align-items: center;
  font-weight: 600;
}
.info-buttons {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  justify-content: end;
  margin: 0;
}

#snake-window {
  background-color: var(--window-bg);
  border-radius: 4px;
  box-sizing: border-box;
  top: 10vh;
  left: 5vw;
  padding: 0;
  width: 90vw;
  height: 80vh;
  overflow: hidden;
  position: absolute;
} 

#dot-grid {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
}
.dot-row {
  position: absolute;
}
.grid-dot {
  background-color: var(--light);
  border: 2px solid var(--window-bg);
  border-radius: 50%;
  position: absolute;
  box-sizing: border-box;
}

.segment {
  background: var(--mid);
}

.info-box {
  background: var(--color);
  cursor: pointer;
  transition: 300ms ease-out;
}
.info-box:hover {
  background: var(--color);
}

.info-box-dot {
  background: var(--color);
  border-radius: 50%;
  display: inline-block;
  height: 10px;
  width: 10px;
}

.info-modal {
  background: var(--window-bg);
  box-shadow: 8px 8px 0px var(--color);
  position: absolute;
  border: none;
  border-radius: 2px;
  width: 300px;
  max-width: 95%;
  padding: 0.75rem 2rem 1.25rem;
  display: block;
  box-sizing: border-box;
  left: 50%;
  top: 50%;
  opacity: 1;
  transform: translateX(-50%) translateY(-50%);
  transition: ease-out;
  transition-duration: 500ms;
  z-index: 99;
}
#info-modal-title {
  color: var(--dark);
  font-weight: 600;
  font-family: sans-serif;
  font-size: 1.5rem;
}
ul.info-list {
  list-style: none;
  padding: 0;
}
ul.info-list li {
  margin: 0.75rem 0;
}
ul.info-list li p {
  font-size: 0.85rem;
  opacity: 0.75;
  margin: 0;
}

.pause-screen {
  /* display: none; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding: 2rem;
  width: 40rem;
  opacity: 0;
  max-width: 80vw;
  visibility: hidden;
  transition: 300ms ease-out;
  z-index: 2;
}
.pause-screen.is-paused {
  opacity: 1;
  visibility: visible;
  z-index: 2;
}

.modal-dim {
  position: fixed;
  background: hsla(22, 0%, 100%, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 1;
  transition: ease-out;
  transition-duration: 500ms;
  z-index: -1;
  backdrop-filter: blur(2px);
}
.modal-dim p {
  display: inline-block;
  left: 50%;
  top: 50%;
  opacity: 0.75;
  position: absolute;
  text-align: center;
  transform: translateX(-50%) translateY(-50%);
}

.hidden {
  opacity: 0;
}


@keyframes blink {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}

@media only screen and (max-width: 700px) {
  #snake-window {
    margin: 10px auto;
    padding: 0;
    width: calc(100vw - 20px);
    height: calc(100vh - 30px);
  }
}